@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .navbar-gradient {
    background: linear-gradient(360deg, #0a7a01 0%, #45bc01 100%);
  }
  .primary-gradient {
    background: linear-gradient(129deg, #0a7a01 10%, #45bc01 100%);
  }
  .primary-gradient2 {
    background: linear-gradient(270deg, #0a7a01 10%, #45bc01 100%);
  }

  .navbar-solid {
    background-color: #32a600;
  }

  .card-wrapper {
    position: relative;
    background-color: white;
    transition: box-shadow 0.3s ease;
  }
  .card-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(to bottom right, #32a600 50%, transparent 50%);
    border-radius: 20;
    box-shadow: inset 0 10px 10px -10px #32a600, inset 10px 0 10px -10px #32a600;
    opacity: 0;
    transition: opacity 0.3s ease;
    transform: translate(100%, -80%);
    @apply blur-3xl;
  }
  .card-wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(to bottom right, #32a600 50%, transparent 50%);
    border-radius: 20;
    box-shadow: inset 0 10px 10px -10px #32a600, inset 10px 0 10px -10px #32a600;
    opacity: 0;
    transition: opacity 0.3s ease;
    transform: translate(100%, 80%);
    @apply blur-3xl;
  }
  .card-wrapper:hover::before {
    opacity: 1;
  }
  .card-wrapper:hover::after {
    opacity: 1;
  }

  .h1-bold {
    @apply text-[30px] font-bold leading-[42px] tracking-tighter;
  }

  .h2-bold {
    @apply text-[24px] font-bold leading-[31.2px];
  }

  .h2-semibold {
    @apply text-[24px] font-semibold leading-[31.2px];
  }

  .h3-bold {
    @apply text-[20px] font-bold leading-[26px];
  }

  .h3-semibold {
    @apply text-[20px] font-semibold leading-[24.8px];
  }

  .base-medium {
    @apply text-[18px] font-medium leading-[25.2px];
  }

  .base-semibold {
    @apply text-[18px] font-semibold leading-[25.2px];
  }

  .base-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .paragraph-regular {
    @apply text-[16px] font-normal leading-[22.4px];
  }

  .paragraph-medium {
    @apply text-[16px] font-medium leading-[22.4px];
  }

  .paragraph-semibold {
    @apply text-[16px] font-semibold leading-[20.8px];
  }

  .body-regular {
    @apply text-[14px] font-normal leading-[19.6px];
  }

  .body-medium {
    @apply text-[14px] font-medium leading-[18.2px];
  }

  .body-semibold {
    @apply text-[14px] font-semibold leading-[18.2px];
  }

  .small-regular {
    @apply text-[12px] font-normal leading-[15.6px];
  }

  .small-medium {
    @apply text-[12px] font-medium leading-[15.6px];
  }

  .small-semibold {
    @apply text-[12px] font-semibold leading-[15.6px];
  }

  .subtle-medium {
    @apply text-[10px] font-medium leading-[13px] !important;
  }

  .subtle-regular {
    @apply text-[10px] font-normal leading-[13px];
  }
  .navbar {
    background: transparent;
    transition: background-color 1s ease-in-out;
  }

  .navbar-scrolled {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .arrow-circle {
    @apply flex items-center justify-center rounded-full border-2 border-[#32A600];
    transition: background-color 0.3s ease;
  }
  .arrow-circle:hover {
    background-color: #32a600;
  }
  .arrow-circle:hover .arrow-icon {
    @apply text-white;
  }
}
